.main {
    width:96%; margin-left:2%;margin-right:2%; margin-top:2%;
}
.btn{
    border: 1px solid black;
            padding: 10px;
            box-shadow: 3px 5px black;background-color: #00A0DC;color:white;
}
.footer{
    border-top: 2px solid black;
    padding-top:1.5%;
}
label {
    width:8%;
}