.main {
    width:96%; margin-left:2%;margin-right:2%; margin-top:2%;
}
.btn{
    border: 1px solid black;
            padding: 10px;
            box-shadow: 3px 5px black;background-color: #00A0DC;color:white;
}
.card{
    background-color: rgba(0,3,52,1);color:white;
}
.card-text{
    padding:5% 5% 15% 5%; text-align:center;
}
input[type='checkbox'] {
    width:15%;margin-top:5%;
}
.footer{
    border-top: 2px solid black;
    padding-top:1.5%;
}